<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>14C8B17D-38CF-4B2A-B31B-0909C72D1642</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83FB921A-0DB1-4656-B6BC-3CB243C2190D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Toggle frontmost window between maximized and restored size.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Window Maximize</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<true/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>3</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>F</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>14C8B17D-38CF-4B2A-B31B-0909C72D1642</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>target_bundle_id="${focusedapp:-${target_app:-}}"
if [ -z "$target_bundle_id" ]; then
	target_bundle_id=$(/usr/bin/osascript -e 'tell application "System Events" to get bundle identifier of first application process whose frontmost is true' 2&gt;/dev/null)
fi
if [ -z "$target_bundle_id" ]; then
	exit 0
fi
/usr/bin/osascript - "$target_bundle_id" &lt;&lt;'APPLESCRIPT'
on run argv
	if (count of argv) = 0 then return
	set targetBundleID to item 1 of argv
	if targetBundleID is "com.runningwithcrayons.Alfred" or targetBundleID is "com.runningwithcrayons.Alfred-Preferences" then return

	tell application "System Events"
		try
			try
				set targetProcess to first application process whose bundle identifier is targetBundleID
			on error
				set targetProcess to first application process whose name is targetBundleID
			end try
			if (count of windows of targetProcess) is greater than 0 then
				try
					perform action "AXZoom" of window 1 of targetProcess
				on error
					try
						click (first button of window 1 of targetProcess whose description is "zoom button")
					end try
				end try
			end if
		end try
	end tell
end run
APPLESCRIPT</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>83FB921A-0DB1-4656-B6BC-3CB243C2190D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>14C8B17D-38CF-4B2A-B31B-0909C72D1642</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>83FB921A-0DB1-4656-B6BC-3CB243C2190D</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
